

a{
  text-decoration: none; /*去字体下划线*/
  color: rgb(255, 174, 174);
  padding: 10px; /* 调整根据您想要的点击范围大小 */
  display: inline-block; /* 使链接表现为块级元素，以便 padding 能够生效 */
  text-align: center;
}

a:hover{
  cursor:url("../image/music32_2.png"), auto;
}

.link_1{
  margin-top: 10px; /* 增加上边距 */
  margin-bottom: 5px; /* 增加下边距 */
  font-weight: bold; /* 加粗 */
}

.navbar_text{
  padding-left: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 4rem;
  color: rgb(255, 255, 255);
  max-width: 98%;
}

.navbar_text:active {
  font-size: 3.7em; /* 设置点击时的小字体大小 */
}

/*week font*/
.week_part_title{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 35px; /* 增加上边距 */
}

h2 {
  font-size: 70px;
  color: rgb(255, 255, 255);
  font-weight: lighter; /* 加粗 */
  text-transform: uppercase;
  letter-spacing: 3vw;
  margin-top: 100px; /* 增加上边距 */
  margin-bottom: 100px; /* 增加下边距 */
  text-align: center;
  padding-left: 3vw;
  max-width: 98%;
}

h3 {
  font-size: 32px;
  letter-spacing: 15px;
  color: rgb(255, 255, 255);
  font-weight: bold; /* 加粗 */
  text-transform: uppercase;
  margin-top: 210px; /* 增加上边距 */
  margin-bottom: 80px; /* 增加下边距 */
  text-align: center;
  max-width: 98%;
}

h4 {
  font-size: 20px;
  letter-spacing: 5px;
  color: rgb(255, 255, 255);
  font-weight: bold; /* 加粗 */
  text-transform: uppercase;
  margin-top: 10px; /* 增加上边距 */
  margin-bottom: 0px; /* 增加下边距 */
  text-align: center;
  max-width: 98%;
}

p {
  font-size: 20px;
  color: rgb(255, 255, 255);
  margin-top: 5px; /* 增加上边距 */
  margin-bottom: 5px; /* 增加下边距 */
  text-align: center;
  max-width: 98%;
}

/*spot light*/
.week1_T {
  position: relative;
  /* 1rem=16px */
  font-size: 8rem;
  color: #333;
  text-align: center;
}

.week1_T:after {
  content: 'WEEK 1';
  position: absolute;
  top: 0;
  left: 0;

  color: transparent;
  background-image: linear-gradient(to right, #c23616, #192a56, #00d2d3, yellow, 
  #6d214f, #2e86de,#4cd137, #e84118);

  background-clip: text;

  -webkit-background-clip: text;
  
  clip-path: circle(100px at 0% 50%);
  -webkit-clip-path: circle(100px at 0% 50%);
  animation: move 5s infinite;
}

.week2_T {
  position: relative;
  /* 1rem=16px */
  font-size: 8rem;
  color: #333;
  text-align: center;
}

.week2_T:after {
  content: 'WEEK 2';
  position: absolute;
  top: 0;
  left: 0;

  color: transparent;
  background-image: linear-gradient(to right, #c23616, #192a56, #00d2d3, yellow, 
  #6d214f, #2e86de,#4cd137, #e84118);

  background-clip: text;

  -webkit-background-clip: text;
  
  clip-path: circle(100px at 0% 50%);
  -webkit-clip-path: circle(100px at 0% 50%);
  animation: move 5s infinite;
}

.week3_T {
  position: relative;
  /* 1rem=16px */
  font-size: 8rem;
  color: #333;
  text-align: center;
}

.week3_T:after {
  content: 'WEEK 3';
  position: absolute;
  top: 0;
  left: 0;

  color: transparent;
  background-image: linear-gradient(to right, #c23616, #192a56, #00d2d3, yellow, 
  #6d214f, #2e86de,#4cd137, #e84118);

  background-clip: text;

  -webkit-background-clip: text;
  
  clip-path: circle(100px at 0% 50%);
  -webkit-clip-path: circle(100px at 0% 50%);
  animation: move 5s infinite;
}

.week4_T {
  position: relative;
  /* 1rem=16px */
  font-size: 8rem;
  color: #333;
  text-align: center;
}

.week4_T:after {
  content: 'WEEK 4';
  position: absolute;
  top: 0;
  left: 0;
  color: transparent;
  background-image: linear-gradient(to right, #c23616, #192a56, #00d2d3, yellow, 
  #6d214f, #2e86de,#4cd137, #e84118);
  background-clip: text;
  -webkit-background-clip: text;
  clip-path: circle(100px at 0% 50%);
  -webkit-clip-path: circle(100px at 0% 50%);
  animation: move 5s infinite;
}

.week5_T {
  position: relative;
  /* 1rem=16px */
  font-size: 15vw;
  color: #333;
  text-align: center;
}

.week5_T:after {
  content: 'WEEK 5';
  position: absolute;
  top: 0;
  left: 0;
  color: transparent;
  background-image: linear-gradient(to right, #c23616, #192a56, #00d2d3, yellow, 
  #6d214f, #2e86de,#4cd137, #e84118);
  background-clip: text;
  -webkit-background-clip: text;
  clip-path: circle(15vw at 0% 50%);
  -webkit-clip-path: circle(15vw at 0% 50%);
  animation: move 5s infinite;
}

.week6_T {
  position: relative;
  /* 1rem=16px */
  font-size: 8rem;
  color: #333;
  text-align: center;
}

.week6_T:after {
  content: 'WEEK 6';
  position: absolute;
  top: 0;
  left: 0;
  color: transparent;
  background-image: linear-gradient(to right, #c23616, #192a56, #00d2d3, yellow, 
  #6d214f, #2e86de,#4cd137, #e84118);
  background-clip: text;
  -webkit-background-clip: text;
  clip-path: circle(100px at 0% 50%);
  -webkit-clip-path: circle(100px at 0% 50%);
  animation: move 5s infinite;
}

.week7_T {
  position: relative;
  /* 1rem=16px */
  font-size: 15vw;
  color: #333;
  text-align: center;
}

.week7_T:after {
  content: 'WEEK 7';
  position: absolute;
  top: 0;
  left: 0;
  color: transparent;
  background-image: linear-gradient(to right, #c23616, #192a56, #00d2d3, yellow, 
  #6d214f, #2e86de,#4cd137, #e84118);
  background-clip: text;
  -webkit-background-clip: text;
  clip-path: circle(15vw at 0% 50%);
  -webkit-clip-path: circle(15vw at 0% 50%);
  animation: move 5s infinite;
}

.week8_T {
  position: relative;
  /* 1rem=16px */
  font-size: 15vw;
  color: #333;
  text-align: center;
}

.week8_T:after {
  content: 'WEEK 8';
  position: absolute;
  top: 0;
  left: 0;
  color: transparent;
  background-image: linear-gradient(to right, #c23616, #192a56, #00d2d3, yellow, 
  #6d214f, #2e86de,#4cd137, #e84118);
  background-clip: text;
  -webkit-background-clip: text;
  clip-path: circle(15vw at 0% 50%);
  -webkit-clip-path: circle(15vw at 0% 50%);
  animation: move 5s infinite;
}

.week9_T {
  position: relative;
  /* 1rem=16px */
  font-size: 15vw;
  color: #333;
  text-align: center;
}

.week9_T:after {
  content: 'WEEK 9';
  position: absolute;
  top: 0;
  left: 0;
  color: transparent;
  background-image: linear-gradient(to right, #c23616, #192a56, #00d2d3, yellow, 
  #6d214f, #2e86de,#4cd137, #e84118);
  background-clip: text;
  -webkit-background-clip: text;
  clip-path: circle(15vw at 0% 50%);
  -webkit-clip-path: circle(15vw at 0% 50%);
  animation: move 5s infinite;
}

@keyframes move {
  0% {
      clip-path: circle(15vw at 0% 50%);
      -webkit-clip-path: circle(15vw at 0% 50%);
  }

  50% {
      clip-path: circle(15vw at 100% 50%);
      -webkit-clip-path: circle(15vw at 100% 50%);
  }

  100% {
      clip-path: circle(15vw at 0% 50%);
      -webkit-clip-path: circle(15vw at 0% 50%);
  }
}

